.contact-form {
  margin-top: 50px;
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 500px;
  padding: 10px;
  outline: 0;
  border: 1px solid #040404;
  color: #030303;
  background: transparent;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #030303;
  cursor: text;
  transition: 0.2s;
}

button {
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  color: #030303;
  outline: none;
  background: transparent;
  border: 1px solid #030303;
  cursor: pointer;
  transition: 0.2s;
}

.input-bar-message {
  height: 100px;
}

input:valid ~ label,
textarea:valid ~ label {
  top: -30px;
}

input:focus ~ label,
textarea:focus ~ label {
  font-size: 20px;
}
