/**
 * CSS styles for the body element.
 */
body {
  margin: 0; /* Reset margin to zero */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; /* Define the font family for the body text */
  -webkit-font-smoothing: antialiased; /* Smooth fonts on webkit browsers */
  -moz-osx-font-smoothing: grayscale; /* Smooth fonts on macOS browsers */
}
body.dark {
  margin: 0; /* Reset margin to zero */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; /* Define the font family for the body text */
  -webkit-font-smoothing: antialiased; /* Smooth fonts on webkit browsers */
  -moz-osx-font-smoothing: grayscale; /* Smooth fonts on macOS browsers */
  background-color: #4c8991;
  background: #4c8991;
}
/**
 * CSS styles for inline code elements.
 */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; /* Define the font family for inline code elements */
}

/**
 * CSS styles for elements with the 'history' class.
 */
.history {
  font-size: 1.3em; /* Set font size for history elements */
  background: linear-gradient(
    45deg,
    #0c6,
    #09f,
    #60f
  ); /* Create a gradient background */
  background-clip: text; /* Clip the background to text */
  -webkit-background-clip: text; /* For older versions of Chrome/Safari */
  color: transparent; /* Set text color to transparent */
}

.history.dark {
  font-size: 1.3em; /* Set font size for history elements */
  background: #eae4e4;
  background-clip: text; /* Clip the background to text */
  -webkit-background-clip: text; /* For older versions of Chrome/Safari */
  color: transparent; /* Set text color to transparent */
}
/**
 * CSS styles for elements with the 'historySpace' class.
 */
.historySpace {
  height: 400px; /* Adjust the height as needed */
  overflow-y: scroll; /* Add a vertical scrollbar when content overflows */
  border: 1px solid #ccc; /* Optional: Add a border for styling */
}
.historySpace.dark {
  height: 400px; /* Adjust the height as needed */
  overflow-y: scroll; /* Add a vertical scrollbar when content overflows */
  border: 1px solid #234e5d; /*Optional: Add a border for styling*/
}
/**
 * CSS styles for tables.
 */
table {
  border-collapse: separate; /* Specify separate border for cells */
  border-spacing: 10px; /* Add spacing between table cells */
  margin-left: auto; /* Center the table horizontally */
  margin-right: auto; /* Center the table horizontally */
}

table.dark {
  border-collapse: separate; /* Specify separate border for cells */
  border-spacing: 10px; /* Add spacing between table cells */
  margin-left: auto; /* Center the table horizontally */
  margin-right: auto; /* Center the table horizontally */
  border-color: #ccc;
}

/**
 * CSS styles for table headers (th) and table data cells (td).
 */
th,
td {
  padding: 10px; /* Add padding to cells for spacing inside cells */
  border: 2px solid #4c8991; /* Add borders for cell separation */
}

th.dark,
td.dark {
  padding: 10px; /* Add padding to cells for spacing inside cells */
  border: 2px solid #23494e; /*Add borders for cell separation*/
}

legend.dark {
  color: #ffffff;
}

#submit-button:focus,
#history-container:focus,
#command-box:focus,
#instructions:focus {
  outline: 2px solid blue;
}
